name = "HighOrderMeshes"
uuid = "f18c5c57-76fa-4ade-9d1a-7f3a1f8a4b32"
authors = ["Per-Olof Persson <persson@berkeley.edu>"]
version = "0.1.0"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
