name: CI
on:
  push:
    branches:
      - main
    tags: ['*']
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    permissions:
      actions: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1'
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        include:
          - os: ubuntu-latest
            arch: x64
          - os: windows-latest
            arch: x64
          - os: macos-latest
            arch: aarch64
            
    steps:
      - uses: actions/checkout@v6
      
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
      
      - uses: julia-actions/julia-buildpkg@v1
      
      # ONLY install Plotting packages on Ubuntu to save time on Mac/Windows
      - name: "Install Plotting Dependencies (Ubuntu Only)"
        # if: matrix.os == 'ubuntu-latest'
        run: julia --project -e 'using Pkg; Pkg.add(["Plots", "CairoMakie", "TriplotRecipes"])'
        
      - uses: julia-actions/julia-runtest@v1
        env:
          # Only enable slow plotting tests on Ubuntu
          RUN_MAKIE_TESTS: ${{ matrix.os == 'ubuntu-latest' && 'true' || 'false' }}
          RUN_PLOTS_TESTS: ${{ matrix.os == 'ubuntu-latest' && 'true' || 'false' }}

      - uses: julia-actions/julia-processcoverage@v1
      
      - uses: codecov/codecov-action@v5
        if: matrix.os == 'ubuntu-latest'
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: ${{ github.repository }}
